* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: auto;
    text-align: center;
    font-family: roboto;
    font-weight: bold;
    color: black;
}

#image {
    width: 100%;
    display: block;
    max-width: 100%;
}

#quote {
    font-size: 2rem;
}

.subsection-header {
    padding-top: 2rem;
    font-size: 5rem;
    margin: auto;
    color: black;
}

#tribute-info {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.3rem;
    text-align: justify;
}

p {
    padding-top: 1.5rem;
}

#tribute-link {
    font-size: 2rem;
    padding: 4rem;
}

#quote {
    padding: 5vw;
    margin-left: 20vw;
    width: 50%;
    text-align: left;
}

.quote-author {
    padding: 2rem;
    text-align: right;
}